// Mixins in here
.cust-layout-1(@just, @align){
    display:flex;
    justify-content:@just;
    align-items:@align;
}
.cust-btn(@bg-color, @width, @font-color){
    display: block;
    background-color: @bg-color;  
    cursor: pointer;
    width: @width;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color:@font-color;
}
